openapi: 3.0.3
info:
  title: Processmap API
  version: 1.0.141
  description: 'REST API ProcessMap — системы описания и исполнения технологических процессов роботизированных кухонь (BPMN-диаграммы, интервью-извлечение,
    TO BE-трансформация, LLM-помощники, отчёты, администрирование организаций).


    **Аутентификация**: JWT access token в заголовке `Authorization: Bearer <token>` (получение — `POST /api/auth/login`). Мультитенантность:
    активная организация передаётся заголовком `X-Org-Id` (необязателен, если у пользователя одна организация или выбрана активная).


    **Формат ошибок**: большинство доменных ошибок — `{"detail": {"code", "message"}}` с соответствующим HTTP-статусом; ошибки валидации FastAPI
    — HTTP 422.


    Интерактивный просмотр этой спеки также доступен на живом сервере: `/api/docs` (Swagger UI), `/api/redoc`.'
  contact:
    name: ProcessMap
  license:
    name: Proprietary
    url: https://processmap.ru
servers:
- url: https://processmap.ru
  description: Прод
- url: https://stage.processmap.ru
  description: Стейдж
- url: http://127.0.0.1:8011
  description: Локальная разработка
tags:
- name: admin
  description: Администрирование платформы (пользователи, орг-настройки, телеметрия, аудит)
- name: analytics
  description: Аналитика процессов и орг-дашборды
- name: audit-log
  description: Журнал аудита действий
- name: auto-pass
  description: Автопроход сценариев (роботизированный прогон процесса)
- name: clipboard
  description: Буфер обмена элементами диаграмм между сессиями
- name: deployment-notices
  description: Уведомления о деплое/версиях платформы
- name: dictionaries
  description: Справочники доменных значений
- name: error-events
  description: Клиентская телеметрия ошибок фронтенда
- name: explorer
  description: Навигатор по проектам/процессам (дерево, поиск)
- name: feature-flags
  description: Фичефлаги организации
- name: health
  description: Проверки живости сервиса
- name: kitchens
  description: Кухни (производственные площадки)
- name: llm
  description: 'LLM-гейтвей: статус, квоты, feedback (без секретов)'
- name: notes
  description: Заметки и обсуждения по элементам диаграмм
- name: operation-catalog
  description: Каталог операций роботизированного исполнения
- name: org-groups
  description: Группы доступа в организациях
- name: org-invites
  description: Приглашения в организации
- name: org-listing
  description: Список организаций пользователя
- name: org-members
  description: Члены организации и роли
- name: org-property-dictionary
  description: Словарь свойств организации (пользовательские атрибуты)
- name: organizations
  description: Организации (мультитенантность)
- name: process-properties-registry
  description: Реестр свойств процессов
- name: process-templates
  description: Шаблоны процессов и их версии
- name: product-actions-ai
  description: AI-предложения продуктовых действий по шагам
- name: product-actions-registry
  description: Реестр продуктовых действий
- name: project-analytics
  description: Аналитика по проекту
- name: projects
  description: Проекты (группировка сессий-процессов)
- name: rag
  description: RAG-поиск по базе знаний
- name: recipes
  description: Рецепты (доменные технологические карты)
- name: reference-resolver
  description: Резолвинг ссылок на доменные сущности
- name: reports
  description: Отчёты по сценариям и их версии
- name: save-status
  description: Статус сохранения сессии
- name: session-events
  description: События сессии (live-лента)
- name: sessions
  description: 'Сессии процессов: BPMN-диаграммы, интервью, граф, LLM-действия'
- name: sku-bindings
  description: Привязки SKU к операциям
- name: system
  description: Системные эндпоинты (метаданные, конфигурация, логин)
- name: templates
  description: Шаблоны вставки элементов на диаграмму
- name: transformation
  description: Трансформация AS IS → TO BE
- name: version
  description: Версия сборки
paths:
  /:
    get:
      tags:
      - system
      summary: Получить ресурс
      operationId: index__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить ресурс.
  /favicon.ico:
    get:
      tags:
      - system
      summary: Получить favicon.ico
      operationId: favicon_favicon_ico_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить favicon.ico.
  /health:
    get:
      tags:
      - system
      summary: Получить здоровье сервиса
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: Получить здоровье сервиса.
      x-public: true
  /api/health:
    get:
      tags:
      - system
      summary: Получить здоровье сервиса
      operationId: api_health_api_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: Получить здоровье сервиса.
      x-public: true
  /health/overlay-cache:
    get:
      tags:
      - system
      summary: Получить здоровье сервиса
      operationId: health_overlay_cache_health_overlay_cache_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить здоровье сервиса.
  /metrics:
    get:
      tags:
      - system
      summary: Получить metrics
      operationId: metrics_endpoint_metrics_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить metrics.
  /api/auth/login:
    post:
      tags:
      - system
      summary: 'Вход: выдача JWT по email+паролю'
      operationId: auth_login_api_auth_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: 'Аутентификация пользователя. Принимает `{email, password}`, возвращает `{access_token, refresh_token?, token_type}` и профиль.
        Access token — короткоживущий (TTL из конфига JWT_ACCESS_TTL_MIN), дальше — `Authorization: Bearer`. Публичный эндпоинт.'
      x-public: true
  /api/auth/refresh:
    post:
      tags:
      - system
      summary: Обновление access token по refresh token
      operationId: auth_refresh_api_auth_refresh_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenOut'
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: 'Ротация пары токенов: принимает refresh token, возвращает новый access token (и новый refresh при ротации с grace-периодом).
        Публичный эндпоинт.'
      x-public: true
  /api/auth/logout:
    post:
      tags:
      - system
      summary: Создать/выполнить аутентификацию
      operationId: auth_logout_api_auth_logout_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить аутентификацию. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/auth/me:
    get:
      tags:
      - system
      summary: Получить аутентификацию
      operationId: auth_me_api_auth_me_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMeOut'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить аутентификацию.
  /api/invite/resolve:
    post:
      tags:
      - system
      summary: Создать/выполнить resolve
      operationId: auth_invite_preview_api_invite_resolve_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitePreviewIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить resolve. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/auth/invite/preview:
    post:
      tags:
      - system
      summary: Создать/выполнить аутентификацию
      operationId: auth_invite_preview_api_auth_invite_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitePreviewIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: 'Создать/выполнить аутентификацию. Особенности: тело валидируется схемой (422 при несоответствии).'
      x-public: true
  /api/invite/activate:
    post:
      tags:
      - system
      summary: Создать/выполнить activate
      operationId: auth_invite_activate_api_invite_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteActivateIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить activate. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/auth/invite/activate:
    post:
      tags:
      - system
      summary: Создать/выполнить аутентификацию
      operationId: auth_invite_activate_api_auth_invite_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteActivateIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '400':
          description: Некорректный запрос (невалидные параметры/тело, невалидный или истёкший токен)
      security: []
      description: 'Создать/выполнить аутентификацию. Особенности: тело валидируется схемой (422 при несоответствии).'
      x-public: true
  /api/llm/session-title/questions:
    post:
      tags:
      - system
      summary: Создать/выполнить questions
      operationId: llm_session_title_questions_api_llm_session_title_questions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionTitleQuestionsIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Llm Session Title Questions Api Llm Session Title Questions Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить questions. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/glossary/add:
    post:
      tags:
      - system
      summary: Создать/выполнить add
      operationId: glossary_add_api_glossary_add_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlossaryAddIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Glossary Add Api Glossary Add Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить add. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/settings/llm:
    get:
      tags:
      - system
      summary: Получить llm
      operationId: get_llm_settings_api_settings_llm_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Get Llm Settings Api Settings Llm Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Получить llm.
    post:
      tags:
      - system
      summary: Создать/выполнить llm
      operationId: post_llm_settings_api_settings_llm_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmSettingsIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Post Llm Settings Api Settings Llm Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить llm. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/settings/llm/verify:
    post:
      tags:
      - system
      summary: Создать/выполнить verify
      operationId: post_llm_verify_api_settings_llm_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmVerifyIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Post Llm Verify Api Settings Llm Verify Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить verify. Особенности: тело валидируется схемой (422 при несоответствии).'
  /api/meta:
    get:
      tags:
      - system
      summary: Метаданные runtime (версия для клиента)
      operationId: api_meta_api_meta_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
      security:
      - bearerAuth: []
      description: Runtime-метаданные для фронтенда (app_version/build_id/min_supported — использовалось до перехода на static/version.json).
  /api/admin/dashboard:
    get:
      tags:
      - admin
      summary: Получить dashboard
      operationId: admin_dashboard_api_admin_dashboard_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Dashboard Api Admin Dashboard Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить dashboard. Особенности: доступ: администратор платформы/организации.'
  /api/admin/orgs:
    get:
      tags:
      - admin
      summary: Получить орг-контекст
      operationId: admin_orgs_api_admin_orgs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Orgs Api Admin Orgs Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить орг-контекст. Особенности: доступ: администратор платформы/организации.'
  /api/admin/orgs/{org_id}/status:
    patch:
      tags:
      - admin
      summary: Обновить частично организацию
      operationId: admin_patch_org_status_api_admin_orgs__org_id__status_patch
      security:
      - bearerAuth: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          title: Org Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgStatusPatchIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Patch Org Status Api Admin Orgs  Org Id  Status Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично организацию. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при
        несоответствии); 404 — ресурс не найден/вне scope.'
  /api/admin/ai/modules:
    get:
      tags:
      - admin
      summary: Получить modules
      operationId: admin_ai_modules_api_admin_ai_modules_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Modules Api Admin Ai Modules Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить modules. Особенности: доступ: администратор платформы/организации.'
  /api/admin/ai/provider-settings:
    get:
      tags:
      - admin
      summary: Получить provider settings
      operationId: admin_ai_provider_settings_api_admin_ai_provider_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Provider Settings Api Admin Ai Provider Settings Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить provider settings. Особенности: доступ: администратор платформы/организации.'
    post:
      tags:
      - admin
      summary: Создать/выполнить provider settings
      operationId: admin_save_ai_provider_settings_api_admin_ai_provider_settings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAiProviderSettingsBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Save Ai Provider Settings Api Admin Ai Provider Settings Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить provider settings. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422
        при несоответствии).'
  /api/admin/ai/provider-settings/verify:
    post:
      tags:
      - admin
      summary: Создать/выполнить verify
      operationId: admin_verify_ai_provider_settings_api_admin_ai_provider_settings_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAiProviderSettingsBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Verify Ai Provider Settings Api Admin Ai Provider Settings Verify Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить verify. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/ai/executions:
    get:
      tags:
      - admin
      summary: Получить executions
      operationId: admin_ai_executions_api_admin_ai_executions_get
      security:
      - bearerAuth: []
      parameters:
      - name: module_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Module Id
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Status
      - name: actor_user_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Actor User Id
      - name: org_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Org Id
      - name: workspace_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Workspace Id
      - name: project_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Project Id
      - name: session_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Session Id
      - name: created_from
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Created From
      - name: created_to
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Created To
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Executions Api Admin Ai Executions Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить executions. Особенности: доступ: администратор платформы/организации.'
  /api/admin/ai/prompts:
    get:
      tags:
      - admin
      summary: Получить prompts
      operationId: admin_ai_prompts_api_admin_ai_prompts_get
      security:
      - bearerAuth: []
      parameters:
      - name: module_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Module Id
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Status
      - name: scope_level
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Scope Level
      - name: scope_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Scope Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Prompts Api Admin Ai Prompts Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить prompts. Особенности: доступ: администратор платформы/организации.'
    post:
      tags:
      - admin
      summary: Создать/выполнить prompts
      operationId: admin_create_ai_prompt_api_admin_ai_prompts_post
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAiPromptDraftBody'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Create Ai Prompt Api Admin Ai Prompts Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Создать/выполнить prompts. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/ai/prompts/active:
    get:
      tags:
      - admin
      summary: Получить active
      operationId: admin_ai_active_prompt_api_admin_ai_prompts_active_get
      security:
      - bearerAuth: []
      parameters:
      - name: module_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Module Id
      - name: scope_level
        in: query
        required: false
        schema:
          type: string
          default: global
          title: Scope Level
      - name: scope_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Scope Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Active Prompt Api Admin Ai Prompts Active Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить active. Особенности: доступ: администратор платформы/организации.'
  /api/admin/ai/prompts/seed:
    post:
      tags:
      - admin
      summary: Создать/выполнить seed
      description: Explicitly seed built-in AI prompts. Must not be called from GET endpoints.
      operationId: admin_seed_ai_prompts_api_admin_ai_prompts_seed_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Seed Ai Prompts Api Admin Ai Prompts Seed Post
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
  /api/admin/ai/prompts/{prompt_id}:
    get:
      tags:
      - admin
      summary: Получить prompts
      operationId: admin_ai_prompt_detail_api_admin_ai_prompts__prompt_id__get
      security:
      - bearerAuth: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Ai Prompt Detail Api Admin Ai Prompts  Prompt Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Получить prompts. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
  /api/admin/ai/prompts/{prompt_id}/activate:
    post:
      tags:
      - admin
      summary: Создать/выполнить activate
      operationId: admin_activate_ai_prompt_api_admin_ai_prompts__prompt_id__activate_post
      security:
      - bearerAuth: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Activate Ai Prompt Api Admin Ai Prompts  Prompt Id  Activate Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Создать/выполнить activate. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии);
        404 — ресурс не найден/вне scope.'
  /api/admin/ai/prompts/{prompt_id}/archive:
    post:
      tags:
      - admin
      summary: Создать/выполнить archive
      operationId: admin_archive_ai_prompt_api_admin_ai_prompts__prompt_id__archive_post
      security:
      - bearerAuth: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Archive Ai Prompt Api Admin Ai Prompts  Prompt Id  Archive Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Создать/выполнить archive. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии);
        404 — ресурс не найден/вне scope.'
  /api/admin/users:
    get:
      tags:
      - admin
      summary: Получить users
      operationId: admin_users_api_admin_users_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Users Api Admin Users Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить users. Особенности: доступ: администратор платформы/организации.'
    post:
      tags:
      - admin
      summary: Создать/выполнить users
      operationId: admin_create_user_api_admin_users_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserCreateBody'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Create User Api Admin Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить users. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/users/{user_id}:
    patch:
      tags:
      - admin
      summary: Обновить частично users
      operationId: admin_patch_user_api_admin_users__user_id__patch
      security:
      - bearerAuth: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserPatchBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Patch User Api Admin Users  User Id  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично users. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии);
        404 — ресурс не найден/вне scope.'
  /api/admin/projects:
    get:
      tags:
      - admin
      summary: Получить проекты
      operationId: admin_projects_api_admin_projects_get
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Q
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Projects Api Admin Projects Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить проекты. Особенности: доступ: администратор платформы/организации.'
  /api/admin/sessions:
    get:
      tags:
      - admin
      summary: Получить сессии процессов
      operationId: admin_sessions_api_admin_sessions_get
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Q
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Status
      - name: owner_ids
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Owner Ids
      - name: updated_from
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Updated From
      - name: updated_to
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Updated To
      - name: needs_attention
        in: query
        required: false
        schema:
          type: integer
          default: -1
          title: Needs Attention
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Sessions Api Admin Sessions Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить сессии процессов. Особенности: доступ: администратор платформы/организации.'
  /api/admin/sessions/{session_id}:
    get:
      tags:
      - admin
      summary: Получить сессию процесса
      operationId: admin_session_detail_api_admin_sessions__session_id__get
      security:
      - bearerAuth: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Session Detail Api Admin Sessions  Session Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Получить сессию процесса. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
  /api/admin/jobs:
    get:
      tags:
      - admin
      summary: Получить jobs
      operationId: admin_jobs_api_admin_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Jobs Api Admin Jobs Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить jobs. Особенности: доступ: администратор платформы/организации.'
  /api/admin/agent-runs:
    get:
      tags:
      - admin
      summary: Получить agent runs
      operationId: admin_agent_runs_api_admin_agent_runs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Agent Runs Api Admin Agent Runs Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить agent runs. Особенности: доступ: администратор платформы/организации.'
  /api/admin/agent-runs/{run_id}:
    get:
      tags:
      - admin
      summary: Получить agent runs
      operationId: admin_agent_run_detail_api_admin_agent_runs__run_id__get
      security:
      - bearerAuth: []
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Agent Run Detail Api Admin Agent Runs  Run Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Получить agent runs. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
  /api/admin/error-events:
    get:
      tags:
      - admin
      summary: Получить error events
      operationId: admin_error_events_api_admin_error_events_get
      security:
      - bearerAuth: []
      parameters:
      - name: session_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Session Id
      - name: request_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Request Id
      - name: correlation_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Correlation Id
      - name: user_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: User Id
      - name: org_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Org Id
      - name: runtime_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Runtime Id
      - name: event_type
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Event Type
      - name: source
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Source
      - name: severity
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Severity
      - name: occurred_from
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Occurred From
      - name: occurred_to
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Occurred To
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          title: Order
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Error Events Api Admin Error Events Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить error events. Особенности: доступ: администратор платформы/организации.'
  /api/admin/error-events/{event_id}:
    get:
      tags:
      - admin
      summary: Получить error events
      operationId: admin_error_event_detail_api_admin_error_events__event_id__get
      security:
      - bearerAuth: []
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          title: Event Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Error Event Detail Api Admin Error Events  Event Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Получить error events. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
  /api/admin/endpoint-check/run:
    post:
      operationId: admin_endpoint_check_run_api_admin_endpoint_check_run_post
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Endpoint Check Run Api Admin Endpoint Check Run
                  Post
          description: Successful Response
      security:
      - JWT access token: []
      summary: Admin Endpoint Check Run
      tags:
      - admin
  /api/admin/endpoint-check/runs:
    get:
      operationId: admin_endpoint_check_runs_api_admin_endpoint_check_runs_get
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          default: 20
          title: Limit
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          title: Offset
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Endpoint Check Runs Api Admin Endpoint Check Runs
                  Get
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - JWT access token: []
      summary: Admin Endpoint Check Runs
      tags:
      - admin
  /api/admin/endpoint-check/runs/{run_id}:
    get:
      operationId: admin_endpoint_check_run_detail_api_admin_endpoint_check_runs__run_id__get
      parameters:
      - in: path
        name: run_id
        required: true
        schema:
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Endpoint Check Run Detail Api Admin Endpoint Check
                  Runs  Run Id  Get
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - JWT access token: []
      summary: Admin Endpoint Check Run Detail
      tags:
      - admin
  /api/admin/endpoint-check/status:
    get:
      operationId: admin_endpoint_check_status_api_admin_endpoint_check_status_get
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Endpoint Check Status Api Admin Endpoint Check
                  Status Get
          description: Successful Response
      security:
      - JWT access token: []
      summary: Admin Endpoint Check Status
      tags:
      - admin
  /api/admin/audit:
    get:
      tags:
      - admin
      summary: Получить audit
      operationId: admin_audit_api_admin_audit_get
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Q
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Status
      - name: action
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Action
      - name: session_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Session Id
      - name: project_id
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Project Id
      - name: updated_from
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Updated From
      - name: updated_to
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Updated To
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Audit Api Admin Audit Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить audit. Особенности: доступ: администратор платформы/организации.'
  /api/admin/rag/settings:
    get:
      tags:
      - admin
      summary: Получить settings
      operationId: admin_rag_get_settings_api_admin_rag_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Rag Get Settings Api Admin Rag Settings Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить settings. Особенности: доступ: администратор платформы/организации.'
    patch:
      tags:
      - admin
      summary: Обновить частично settings
      operationId: admin_rag_patch_settings_api_admin_rag_settings_patch
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Rag Patch Settings Api Admin Rag Settings Patch
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Обновить частично settings. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/permissions:
    get:
      tags:
      - admin
      summary: Получить permissions
      operationId: admin_permissions_list_api_admin_permissions_get
      security:
      - bearerAuth: []
      parameters:
      - name: entity_type
        in: query
        required: false
        schema:
          type: string
          title: Entity Type
          nullable: true
      - name: entity_id
        in: query
        required: false
        schema:
          type: string
          title: Entity Id
          nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить permissions. Особенности: доступ: администратор платформы/организации.'
  /api/admin/permissions/entities:
    get:
      tags:
      - admin
      summary: Получить entities
      operationId: admin_permissions_entities_api_admin_permissions_entities_get
      security:
      - bearerAuth: []
      parameters:
      - name: entity_type
        in: query
        required: true
        schema:
          type: string
          title: Entity Type
      - name: workspace_id
        in: query
        required: false
        schema:
          type: string
          title: Workspace Id
          nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить entities. Особенности: доступ: администратор платформы/организации.'
  /api/admin/permissions/{entity_type}/{entity_id}:
    patch:
      tags:
      - admin
      summary: Обновить частично permissions
      operationId: admin_permissions_patch_api_admin_permissions__entity_type___entity_id__patch
      security:
      - bearerAuth: []
      parameters:
      - name: entity_type
        in: path
        required: true
        schema:
          type: string
          title: Entity Type
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
          title: Entity Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminPermissionUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично permissions. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при
        несоответствии); 404 — ресурс не найден/вне scope.'
  /api/admin/permissions/bulk:
    post:
      tags:
      - admin
      summary: Создать/выполнить bulk
      operationId: admin_permissions_bulk_api_admin_permissions_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminPermissionBulkBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить bulk. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/permissions/principals:
    get:
      tags:
      - admin
      summary: Получить principals
      operationId: admin_permissions_principals_api_admin_permissions_principals_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить principals. Особенности: доступ: администратор платформы/организации.'
  /api/admin/permissions/matrix:
    get:
      tags:
      - admin
      summary: Получить matrix
      operationId: admin_permissions_matrix_api_admin_permissions_matrix_get
      security:
      - bearerAuth: []
      parameters:
      - name: principal_type
        in: query
        required: false
        schema:
          type: string
          title: Principal Type
          nullable: true
      - name: principal_id
        in: query
        required: false
        schema:
          type: string
          title: Principal Id
          nullable: true
      - name: entity_type
        in: query
        required: false
        schema:
          type: string
          title: Entity Type
          nullable: true
      - name: entity_id
        in: query
        required: false
        schema:
          type: string
          title: Entity Id
          nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить matrix. Особенности: доступ: администратор платформы/организации.'
  /api/admin/permissions/matrix/{principal_type}/{principal_id}/{entity_type}/{entity_id}:
    patch:
      tags:
      - admin
      summary: Обновить частично matrix
      operationId: admin_permissions_matrix_patch_api_admin_permissions_matrix__principal_type___principal_id___entity_type___entity_id__patch
      security:
      - bearerAuth: []
      parameters:
      - name: principal_type
        in: path
        required: true
        schema:
          type: string
          title: Principal Type
      - name: principal_id
        in: path
        required: true
        schema:
          type: string
          title: Principal Id
      - name: entity_type
        in: path
        required: true
        schema:
          type: string
          title: Entity Type
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
          title: Entity Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMatrixPermissionUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично matrix. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии);
        404 — ресурс не найден/вне scope.'
  /api/admin/permissions/matrix/bulk:
    post:
      tags:
      - admin
      summary: Создать/выполнить bulk
      operationId: admin_permissions_matrix_bulk_api_admin_permissions_matrix_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMatrixBulkBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить bulk. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при несоответствии).'
  /api/admin/invites/{invite_id}/permissions:
    get:
      tags:
      - admin
      summary: Получить permissions
      operationId: admin_invite_permissions_get_api_admin_invites__invite_id__permissions_get
      security:
      - bearerAuth: []
      parameters:
      - name: invite_id
        in: path
        required: true
        schema:
          type: string
          title: Invite Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Получить permissions. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
    patch:
      tags:
      - admin
      summary: Обновить частично permissions
      operationId: admin_invite_permissions_patch_api_admin_invites__invite_id__permissions_patch
      security:
      - bearerAuth: []
      parameters:
      - name: invite_id
        in: path
        required: true
        schema:
          type: string
          title: Invite Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: boolean
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично permissions. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при
        несоответствии); 404 — ресурс не найден/вне scope.'
  /api/admin/llm/providers:
    get:
      tags:
      - admin
      summary: Получить LLM-провайдеров
      operationId: admin_llm_list_providers_api_admin_llm_providers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm List Providers Api Admin Llm Providers Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить LLM-провайдеров. Особенности: доступ: администратор платформы/организации.'
    post:
      tags:
      - admin
      summary: Создать/выполнить LLM-провайдеров
      operationId: admin_llm_create_provider_api_admin_llm_providers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmProviderBody'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Create Provider Api Admin Llm Providers Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Создать/выполнить LLM-провайдеров. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422
        при несоответствии).'
  /api/admin/llm/providers/{provider_id}:
    patch:
      tags:
      - admin
      summary: Обновить частично LLM-провайдера
      operationId: admin_llm_patch_provider_api_admin_llm_providers__provider_id__patch
      security:
      - bearerAuth: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
          title: Provider Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmProviderPatchBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Patch Provider Api Admin Llm Providers  Provider Id  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично LLM-провайдера. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422
        при несоответствии); 404 — ресурс не найден/вне scope.'
    delete:
      tags:
      - admin
      summary: Удалить LLM-провайдера
      operationId: admin_llm_delete_provider_api_admin_llm_providers__provider_id__delete
      security:
      - bearerAuth: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
          title: Provider Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Delete Provider Api Admin Llm Providers  Provider Id  Delete
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Удалить LLM-провайдера. Особенности: доступ: администратор платформы/организации; 404 — ресурс не найден/вне scope.'
  /api/admin/llm/providers/{provider_id}/test:
    post:
      tags:
      - admin
      summary: Создать/выполнить проверку LLM-провайдера
      description: 'Тестовый вызов провайдера (verify_llm_settings-паттерн): latency + preview.


        Ключ берётся из БД на бэке и НЕ возвращается; ошибки — без тела запроса.

        Отключённый провайдер — честный статус без вызова (не 500).

        Вызов учитывается в llm_usage (feature=''admin_provider_test'') — виден в «Расходе».'
      operationId: admin_llm_test_provider_api_admin_llm_providers__provider_id__test_post
      security:
      - bearerAuth: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
          title: Provider Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Test Provider Api Admin Llm Providers  Provider Id  Test Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
  /api/admin/llm/feature-models:
    get:
      description: 'Получить feature models. Особенности: доступ: администратор платформы/организации.'
      operationId: admin_llm_list_feature_models_api_admin_llm_feature_models_get
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm List Feature Models Api Admin Llm Feature
                  Models Get
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
      security:
      - bearerAuth: []
      summary: Получить feature models
      tags:
      - admin
  /api/admin/llm/feature-models/{feature}:
    put:
      description: 'Сохранить (replace) feature models. Особенности: доступ: администратор
        платформы/организации; тело валидируется схемой (422 при несоответствии); 404
        — ресурс не найден/вне scope.'
      operationId: admin_llm_put_feature_model_api_admin_llm_feature_models__feature__put
      parameters:
      - in: path
        name: feature
        required: true
        schema:
          title: Feature
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmFeatureModelBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm Put Feature Model Api Admin Llm Feature Models  Feature  Put
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Сохранить (replace) feature models
      tags:
      - admin
  /api/admin/llm/models:
    get:
      description: 'Получить models. Особенности: доступ: администратор платформы/организации.'
      operationId: admin_llm_list_models_api_admin_llm_models_get
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm List Models Api Admin Llm Models Get
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
      security:
      - bearerAuth: []
      summary: Получить models
      tags:
      - admin
    post:
      description: 'Создать/выполнить models. Особенности: доступ: администратор платформы/организации;
        тело валидируется схемой (422 при несоответствии).'
      operationId: admin_llm_create_model_api_admin_llm_models_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmModelBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                title: Response Admin Llm Create Model Api Admin Llm Models Post
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Создать/выполнить models
      tags:
      - admin
  /api/admin/llm/models/{model_id}:
    delete:
      description: 'Удалить models. Особенности: доступ: администратор платформы/организации;
        404 — ресурс не найден/вне scope.'
      operationId: admin_llm_delete_model_api_admin_llm_models__model_id__delete
      parameters:
      - in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm Delete Model Api Admin Llm Models  Model Id  Delete
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется platform admin'
        '404':
          description: 'Не найдено: модель отсутствует'
        '409':
          description: 'Конфликт: default-модель нельзя удалить (сначала назначьте другой
            default)'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Удалить models
      tags:
      - admin
    patch:
      description: 'Обновить частично models. Особенности: доступ: администратор платформы/организации;
        тело валидируется схемой (422 при несоответствии); 404 — ресурс не найден/вне
        scope.'
      operationId: admin_llm_patch_model_api_admin_llm_models__model_id__patch
      parameters:
      - in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmModelPatchBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm Patch Model Api Admin Llm Models  Model Id  Patch
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Обновить частично models
      tags:
      - admin
  /api/admin/llm/models/{model_id}/set-default:
    post:
      description: 'Создать/выполнить set default. Особенности: доступ: администратор
        платформы/организации; тело валидируется схемой (422 при несоответствии); 404
        — ресурс не найден/вне scope.'
      operationId: admin_llm_set_default_model_api_admin_llm_models__model_id__set_default_post
      parameters:
      - in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Admin Llm Set Default Model Api Admin Llm Models  Model
                  Id  Set Default Post
          description: Successful Response
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access
            token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации
            с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Создать/выполнить set default
      tags:
      - admin
  /api/admin/llm/prompts:
    get:
      tags:
      - admin
      summary: Получить LLM-промптов
      operationId: admin_llm_list_prompts_api_admin_llm_prompts_get
      security:
      - bearerAuth: []
      parameters:
      - name: feature
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Feature
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Status
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm List Prompts Api Admin Llm Prompts Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить LLM-промптов. Особенности: доступ: администратор платформы/организации.'
    post:
      tags:
      - admin
      summary: Создать/выполнить LLM-промптов
      operationId: admin_llm_create_prompt_api_admin_llm_prompts_post
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmPromptBody'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Create Prompt Api Admin Llm Prompts Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Создать/выполнить LLM-промптов. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при
        несоответствии).'
  /api/admin/llm/prompts/{prompt_id}/activate:
    post:
      tags:
      - admin
      summary: Создать/выполнить активацию промпта
      operationId: admin_llm_activate_prompt_api_admin_llm_prompts__prompt_id__activate_post
      security:
      - bearerAuth: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Activate Prompt Api Admin Llm Prompts  Prompt Id  Activate Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Создать/выполнить активацию промпта. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422
        при несоответствии); 404 — ресурс не найден/вне scope.'
  /api/admin/llm/prompts/{prompt_id}/rollback:
    post:
      tags:
      - admin
      summary: Создать/выполнить откат промпта
      description: 'Откат: активирует последнюю archived-версию той же фичи (ниже текущего active).'
      operationId: admin_llm_rollback_prompt_api_admin_llm_prompts__prompt_id__rollback_post
      security:
      - bearerAuth: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Rollback Prompt Api Admin Llm Prompts  Prompt Id  Rollback Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
  /api/admin/llm/features:
    get:
      tags:
      - admin
      summary: Получить фичефлагов LLM
      operationId: admin_llm_list_features_api_admin_llm_features_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm List Features Api Admin Llm Features Get
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      security:
      - bearerAuth: []
      description: 'Получить фичефлагов LLM. Особенности: доступ: администратор платформы/организации.'
  /api/admin/llm/features/{feature}:
    patch:
      tags:
      - admin
      summary: Обновить частично фичефлаг LLM
      operationId: admin_llm_patch_feature_api_admin_llm_features__feature__patch
      security:
      - bearerAuth: []
      parameters:
      - name: feature
        in: path
        required: true
        schema:
          type: string
          title: Feature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmFeaturePatchBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Patch Feature Api Admin Llm Features  Feature  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
        '404':
          description: 'Не найдено: ресурс отсутствует или недоступен в текущем org-scope'
      description: 'Обновить частично фичефлаг LLM. Особенности: доступ: администратор платформы/организации; тело валидируется схемой (422 при
        несоответствии); 404 — ресурс не найден/вне scope.'
  /api/admin/llm/usage:
    get:
      tags:
      - admin
      summary: Получить расход токенов LLM
      operationId: admin_llm_usage_api_admin_llm_usage_get
      security:
      - bearerAuth: []
      parameters:
      - name: from_ts
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: From Ts
      - name: to_ts
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: To Ts
      - name: feature
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Feature
      - name: model
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Model
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Admin Llm Usage Api Admin Llm Usage Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: 'Не аутентифицирован: отсутствует или недействителен JWT access token (Authorization: Bearer)'
        '403':
          description: 'Доступ запрещён: требуется роль admin или членство в организации с нужными правами'
      description: 'Получить расход токенов LLM. Особенности: доступ: администратор платформы/организации.'
  /api/admin/testgen/run:
    post:
      operationId: admin_testgen_run_api_admin_testgen_run_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestgenRunBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                title: Response Admin Testgen Run Api Admin Testgen Run Post
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - JWT access token: []
      summary: Admin Testgen Run
      tags:
      - admin
  /api/admin/testgen/runs:
    get:
      operationId: admin_testgen_runs_api_admin_testgen_runs_get
      parameters:
      - in: query
        name: status
        required: false
        schema:
[...]
